{% extends 'base/home.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <br>
    <body>
        <section class="services" id="services">
            <div class"container" >
                <div class="section-heading">
                <br><br><br><br><br><br><br>
                    <h1>Services</h1>
                    <h4>What i can do for you</h4>
                </div>
                <div class="my-skills">
                    <div class="skills">
                        <div class="icon-container">
                             <i class="fas a-layer-group"></i>
                        </div>
                            <h1>Programming/development</h1>
                            <p>Through my knowledge of Programming i can streamline, automate and create processes.
                            using tools like microsoft office, SQL and Python </p>
                            <h2>⭐⭐⭐</h2>
                        </div>
                        <div class="skills">
                            <div class="icon-container">
                                <i class="fas a-code-group"></i>
                            </div>
                            <h1>Product strategy</h1>
                            <p>Through my knowledge of Programming i can streamline, automate and create processes.
                            using tools like microsoft office, SQL and Python </p>
                            <h2>⭐⭐⭐⭐</h2>
                        </div>
                        <div class="skills">
                            <div class="icon-container">
                                <i class="fas a-chart-group"></i>
                            </div>
                            <h1>Supply chain management</h1>
                            <p>Through my knowledge of Programming i can streamline, automate and create processes.
                            using tools like microsoft office, SQL and Python </p>
                            <h2>⭐⭐⭐⭐</h2>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <br>
            <br>
            <section class="experience" id="experience">
                <div class"container" >
                    <div class="section-heading">
                        <h1>Experience</h1>
                        <br>
                        <h2>Check out the most recent postions ive held</h2>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="timeline"></div>
                        <ul>
                            <li class="date" data-date"06/2019 - Present">
                                <br>
                                <img src="{% static 'images/logis_2.jpg' %}" >
                                <br>
                                <br>
                                <h1>Flow Planner</h1>
                                <h2>Ikea</h2>
                                <h3>06-19 - Present</h3>
                                <br>
                                <p>test test tetst test test tetsttest test tetsttest test tetsttest test tetsttest test tetsttest test tetsttest test tetst
                                test test tetsttest test tetsttest test tetsttest test tetst
                                </p>
                            </li>
                            <br>
                            <br>
                            <br>
                            <br>
                            <li class="date" data-date"06/2019 - Present">
                                <br>
                                <img src="{% static 'images/admin_1.png' %}" >
                                <br>
                                <br>
                                <h1>Flow Planner</h1>
                                <h2>Ikea</h2>
                                <h3>06-19 - Present</h3>
                                <br>
                                <p>test test tetst test test tetsttest test tetsttest test tetsttest test tetsttest test tetsttest test tetsttest test tetst
                                test test tetsttest test tetsttest test tetsttest test tetst
                                </p>
                            </li>
                            <br>
                            <br>
                            <br>
                            <br>
                            <li class="date" data-date"06/2019 - Present">
                                <br>
                                <img src="{% static 'images/forklift_training1.jpg' %}" >
                                <br>
                                <br>
                                <h1>Flow Planner</h1>
                                <h2>Ikea</h2>
                                <h3>06-19 - Present</h3>
                                <br>
                                <p>test test tetst test test tetsttest test tetsttest test tetsttest test tetsttest test tetsttest test tetsttest test tetst
                                test test tetsttest test tetsttest test tetsttest test tetst
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <br>
{% endblock %}
